<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Upload Image</title>
  </head>
  <body>
    <div>
      {% if messages%}
      <ul>
        {% for message in messages%}
        <li>
          <div>{{message}}</div>
        </li>
        {% endfor%}
      </ul>
      {% endif%}
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Upload Image</button>
    </form>
    <button onclick="location.href='{% url 'list' %}'">Image List</button>
  </body>
</html>
